

main{
    font-family: Roboto, Helvetica, sans-serif;
    width: 380px;
    background-color: #48dc7c;
    margin: 0 auto;
}

h5{
    font-size: 1.3rem;
}

p{
    font-size: 0.8rem;
}

button{
    font-size: 1rem;
}

i {
    padding: 5px;
    margin-right: 10px;
}

.font-600{
    font-weight: 600;
}

.color-1{
    color:#383d40;
}

.color-2{
    color:#ffffff;
}

.color-3{
    color:#31b77a;
}

.color-4{
    color:#8f8f8f;
}

.bg-white{
    background-color:#ffff;
}

.bg-green{
    background-color:#48dc7c;
}

.bg-gray{
    background-color:#8f8f8f;
}

.container{
    padding: 10px 10px;
}


.float-right{
    float: right;
}

.float-left{
    float: left;
}


.pb-0{
    padding-bottom: 0!important;
}

.mb-5{
    margin-bottom: 5px!important;
}


.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-between{
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.flex-flow-column{
    flex-flow: column;
}

.mt-5{
    margin-top: 1rem;
}




.view-button:hover, .view-button button:hover, .box-icon .d-flex:hover,  .box-pagar:hover, .fas, .row-formas{
    cursor: pointer;
}


.container-view{
    text-align: center;
    position: relative;
    padding: 15px 0;
}

.container-view b{
    font-weight: 600;
}

.container-view p{
    padding-top: 20px;
}

.container-view h3{
    font-size: 2.3rem;
    padding-right: 10px;
}

.container-view h5{
    padding: 20px 0;
}

.container-view .fa-signal{
    padding: 7px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0px;
}

.container-view em{
    position: absolute;
    top: -7px;
    right: 30px;
    background-color: red;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 0.7rem;
}

.container-view .view-button:first-child{
    margin-right: 10px;

}


.view-button{
    width: 50%;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    border-radius: 50px;
}


.view-button button{
    background: none;
    border: 0;
    font-weight: 400;
}

.view-button i{
    margin-right: 0;
}


.view-button:hover, .view-button button:hover{
    color:#31b77a;
    background-color: #ffff;
}







.container-saldo{
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-saldo i{
    font-size: 1.5rem;
}

.container-saldo h3{
    color:#3a4245;
    font-weight: 600;
}

.fa-toggle-off:hover{
    content: "\f205";
}







.container-pagamento{
    background-color:#f2f2f2;
    height: 400px;
}


.container-title h4{
    color:#8f8f8f;
    padding: 15px 0 15px;
}


.row-formas {
    border-radius: 5px;
    padding: 10px;
}


.row-formas .d-flex .fa-plus {
    padding: 6px 7px;
    margin: 0 8px;
    border-radius: 50%;
    border: 1px solid #8f8f8fab;
}

.row-formas img{
    margin-right: 10px;
    width: 15%;
}





.container-footer{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-icon{
    text-align: center;
    width: 35%;
}

.box-icon p, .box-pagar p{
    font-size: 0.8rem;
}

.box-icon i{
    font-size: 1.4rem;
    margin-right: 0;
}

.box-icon .d-flex:hover{
    color:#31b77a;
}


.box-pagar{
    text-align: center;
    position: absolute;
    top: -20px;
    right: 160px;
    padding: 10px 12px;
    border-radius: 50%;
}



.box-pagar i{
    margin-right: 0;
}